:host {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

h1 {
    padding: 10px 20px 0;
}

.system-name {
    position: absolute;
    top: 10px;
    z-index: 2;
}

.system-name input {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

.shelves {
    position: relative;
    height: calc(100% - 56px);
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    display: flex;
    flex-direction: row;
}

.shelf {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.shelf.left {
    padding-left: 40px;
}

.shelf.right {
    padding-right: 40px;
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.empty .system-name-form {
    padding: 10px;
}

.empty label {
    font-size: 1.2rem;
    color: white;
}

.empty input {
    margin: 10px auto;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.shelf-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: white;
}

.shelf-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: white;
}

button {
    cursor: pointer;
}

.buttons {
    padding: 10px;
    display: flex;
    justify-content: center;
}

button + button {
    margin-left: 10px;
}

.save-shelf {
    position: absolute;
    top: 10px;
    right: 10px;
}