<h2>Bearbeite Regalbrett:</h2>
<button mat-icon-button color="warn" (click)="close()" class="close">
    <mat-icon>
        <span class="material-icons">highlight_off</span>
    </mat-icon>
</button>
<app-shelf-board [onlySVG]=true [shelfid]="shelfId" class="shelf-board"></app-shelf-board>

<app-add-book *ngIf="bookPreviewId === null" (addBook)="addBook($event)"></app-add-book>

<app-books-preview *ngIf="bookPreviewId !== null" [bookIndex]="bookPreviewId" [shelfId]="shelfId"></app-books-preview>

<div *ngIf="bookPreviewId !== null" class="add-book-button">
    <button mat-flat-button color="primary" (click)="noPreview()">Neues Buch hinzufügen</button>
    <mat-icon color="primary">
        <span class="material-icons">menu_book</span>
    </mat-icon>
</div>
