<h1>Suche ein Buch nach Titel oder Autor</h1>
<input id="search" type="text" placeholder="Suchbegriff" [formControl]="search" />

<div *ngIf="foundBooks$ | async as foundBooks">
    <ng-container *ngIf="foundBooks.length; else notFound">
        <h2>Gefundene Ergebnisse:</h2>
        <ul class="found-books">
            <li *ngFor="let book of foundBooks">
                <a [routerLink]="['/add/' + book.systemid + '/' + book.shelfid + '/' + book.shelfindex]">
                    <span>Titel: {{book.title}}</span><br/>
                    <span>Autor: {{book.author}}</span>
                </a>
            </li>
        </ul>
    </ng-container>
    <ng-template #notFound>
        <div class="nothing-found">
            <p>Leider nichts {{ search.value ? "mit Suchbegriff" : "" }} <em>{{search.value}}</em> gefunden!</p>
        </div>
    </ng-template>
</div>
