<h3>Füge ein Buch hinzu</h3>
<mat-icon>
    <span class="material-icons">menu_book</span>
</mat-icon>
<form (submit)="saveBook($event)">
    <label for="title">Titel:</label>
    <input id="title" name="title" type="text" [(ngModel)]="title" />
    <label for="author">Autor:</label>
    <input id="author" name="author" type="text" [(ngModel)]="author" />
    <button type="submit">Speichern</button>
    <button type="reset">Löschen</button>
</form>
<br/>
<div class="scanner">
    <div id="reader"></div>
    <div *ngIf="scanActive; else scanButton" class="reader-overlay">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <button (click)="stopScanning()">Stop Scanning</button>
    </div>
</div>

<ng-template #scanButton>
    <div class="start-scanning">
        <mat-icon>
            <span class="material-icons">qr_code-scanner</span>
        </mat-icon>
        <button #scanButton (click)="scanISBN()">Scan ISBN</button>
    </div>
</ng-template>  

<p *ngIf="isbn">Die ISBN des Buches: {{isbn}}</p>