nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 0.8rem;
}

nav a+a {
    margin-left: 5px;
}

nav a.active {
    border-bottom: 2px solid white;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 5px;
}

span {
    color: white;
    font-size: 1.5rem;
    transform: translateY(6px) scale(0.8);
}

@media screen and (min-width: 430px) {
    nav a {
        font-size: 1rem;
    }

    nav a+a {
        margin-left: 10px;
    }

    span {
        transform: translateY(6px) scale(1);
    }
}

@media screen and (min-width: 500px) {
    nav a {
        font-size: 1.3rem;
    }

    span {
        transform: translateY(6px) scale(1);
    }
}