nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-left: 20px;
}

nav a.active {
    border-bottom: 2px solid white;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 5px;
}

span {
    color: white;
    font-size: 1.5rem;
    transform: translateY(4px);
}